<a href="https://colab.research.google.com/github/Vaibhav-sa30/Working-with-books-datasets/blob/main/Working_with_Books_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TDS PROJECTS 2

### How to use these files
Download and place the **.csv** files in the same folder and run the codes


Q11: How many unique tags are there in the dataset [book_tags.csv] ? (N)

Q10: Which book (goodreads_book_id) has the least number of count of tags given by the user ie. the book with minimum user records including all tags [book_tags.csv] ? (N)

Q12: What is the mean value of rating of all the books in the dataset based on (average_rating) [books.csv] ? (F)

Q4: Which book (title) has the maximum number of ratings based on (work_ratings_count) [books.csv] ? (S)

Q2: How many unique books are present in the dataset ? Evaluate based on the 'book_id'? [books.csv] (N)

Q9: Which book (title) has the minimum (average_rating) [books.csv], if more than 1 book have same average rating, sort the books by ['title'] in alphabetical order and use the first book in the sorted list? (S)

Q8: Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

Q3: How many unique users are present in the dataset [ratings.csv] ? (N)

Q1: How many books do not have an original title [books.csv] ? (N)

Q14: Predict sentiment using Textblob. How many positive titles (original_title) are there [books.csv] ? (cut-off >0) N

## Importing packages

In [ ]:
import pandas as pd
from textblob import TextBlob

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Q1

In [ ]:
# Load the CSV file into a pandas DataFrame
data = pd.read_csv("/content/books (1).csv")

# Check how many rows do not have an original title
missing_original_title_count = data['original_title'].isnull().sum()
apple=missing_original_title_count

print(f"The number of books without an original title: {missing_original_title_count}")

The number of books without an original title: 136

# Q2

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('/content/books (1).csv')

# Count the number of unique books based on 'book_id'
unique_books_count = books_df['book_id'].nunique()

print(f"The number of unique books in the dataset is: {unique_books_count}")

The number of unique books in the dataset is: 1675

# Q3

In [ ]:
# Load the CSV file into a DataFrame
df = pd.read_csv("/content/ratings (1).csv")

# Count the number of unique user IDs
unique_users_count = df['user_id'].nunique()

print(f"Number of unique users: {unique_users_count}")

Number of unique users: 52752

# Q4

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('/content/books (1).csv')

# Find the book title with the maximum number of ratings
max_ratings_book_title = books_df.loc[books_df['work_ratings_count'].idxmax(), 'title']

print(f"The book with the maximum number of ratings is: {max_ratings_book_title}")

The book with the maximum number of ratings is: The Fault in Our Stars

# Q5

In [ ]:
# Load the book_tags.csv file into a DataFrame
book_tags_df = pd.read_csv('/content/book_tags (1).csv')

# Count the number of unique tags
unique_tags_count = book_tags_df['tag_id'].nunique()

print(unique_tags_count)

9117

In [ ]:
book_tags_df

        goodreads_book_id  tag_id  count
0                       8   30574   2823
1                       8   11557    144
2                       8   11305    104
3                       8    8717     71
4                       8   14017     54
...                   ...     ...    ...
167495           33288638   21303      7
167496           33288638   17271      7
167497           33288638    1126      7
167498           33288638   11478      7
167499           33288638   27939      7

[167500 rows x 3 columns]

# Q6

In [ ]:
# Load the CSV files into DataFrames
book_tags_df = pd.read_csv('book_tags.csv')
books_df = pd.read_csv('books.csv')

# Merge book_tags_df and books_df on 'goodreads_book_id'
merged_df = pd.merge(book_tags_df, books_df, left_on='goodreads_book_id', right_on='goodreads_book_id')

# Group by book title and sum the 'count' column
tag_counts_per_book = merged_df.groupby('title')['count'].sum()

# Find the book title with the maximum tag counts
max_tag_count_book_title = tag_counts_per_book.idxmax()

print(f"The book with the most number of tag counts is: {max_tag_count_book_title}")

The book with the most number of tag counts is: Harry Potter and the Sorcerer's Stone (Harry Potter, #1)

# Q7

In [ ]:
# Load the to_read.csv file into a DataFrame
to_read_df = pd.read_csv('toread.csv')

# Group by book_id and count the number of users who marked each book as "to-read"
to_read_counts = to_read_df['book_id'].value_counts()

# Get the book_id with the most "to-read" counts
most_to_read_book_id = to_read_counts.idxmax()

# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Find the goodreads_book_id using the most_to_read_book_id
most_to_read_goodreads_book_id = books_df.loc[books_df['book_id'] == most_to_read_book_id, 'goodreads_book_id'].values[0]

print(most_to_read_goodreads_book_id)

168668

# Q8

In [ ]:
# Load the CSV file into a DataFrame
df = pd.read_csv("/content/book_tags (1).csv")

# Group by tag_id and count the number of occurrences
tag_counts = df.groupby('tag_id')['goodreads_book_id'].count()

# Find the tag with the lowest count
least_used_tag_id = tag_counts.idxmin()
least_used_tag_count = tag_counts.min()

print(f"Least used tag ID: {least_used_tag_id}")
print(f"Number of books mapped to the least used tag: {least_used_tag_count}")

Least used tag ID: 28
Number of books mapped to the least used tag: 1

# Q9

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('/content/books (1).csv')

# Find the book title with the minimum average rating
min_avg_rating_books = books_df[books_df['average_rating'] == books_df['average_rating'].min()]

# Sort the tied books by title in alphabetical order
min_avg_rating_books_sorted = min_avg_rating_books.sort_values(by='title')

# Get the first book's title from the sorted list
min_avg_rating_book_title = min_avg_rating_books_sorted.iloc[0]['title']

print(f"The book with the minimum average rating is: {min_avg_rating_book_title}")

The book with the minimum average rating is: Pygmy

# Q10

In [ ]:
# Load the book_tags.csv file into a DataFrame
book_tags_df = pd.read_csv('/content/book_tags (1).csv')

# Group by book_id and calculate the total count for each book
book_tag_counts = book_tags_df.groupby('goodreads_book_id')['count'].sum()

# Find the book_id with the minimum total count (least number of tags)
least_tag_count_book_id = book_tag_counts.idxmin()

print(least_tag_count_book_id)

8110748

# Q11

In [ ]:
# Load the book_tags.csv file into a DataFrame
book_tags_df = pd.read_csv('book_tags.csv')

# Count the number of unique tags
unique_tags_count = book_tags_df['tag_id'].nunique()

print(unique_tags_count)

11295

# Q12

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv("/content/books (1).csv")

# Calculate the mean value of the ratings based on 'average_rating' column
mean_rating = books_df['average_rating'].mean()

print(f"The mean value of ratings of all books is: {mean_rating}")

The mean value of ratings of all books is: 4.011044776119403

# Q14

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('/content/books (1).csv')

# Define a function to predict sentiment using TextBlob
def get_sentiment(text):
    blob = TextBlob(str(text))  # Convert to string to handle   NaN values
    return blob.sentiment.polarity

# Apply the sentiment function to the 'original_title' column and create a new 'sentiment' column
books_df['sentiment'] = books_df['original_title'].apply(get_sentiment)

# Count the number of positive titles (titles with positive sentiment)
positive_titles_count = (books_df['sentiment'] >= 0).sum()
banana=positive_titles_count-apple
print(f"The number of positive titles is: {banana}")

The number of positive titles is: 1355

# *Authored by MoonWrecker using Gpt*